* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    background: #0f0f0f;
}
 

/* SECTIONS */

.section {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 80px 20px;

    background-color: #0f0f0f;

    background-image:
        linear-gradient(
            rgba(255,255,255,0.05) 2px,
            transparent 2px
        ),
        linear-gradient(
            90deg,
            rgba(255,255,255,0.05) 2px,
            transparent 2px
        ),
        linear-gradient(
            rgba(255,255,255,0.04) 1px,
            transparent 1px
        ),
        linear-gradient(
            90deg,
            rgba(255,255,255,0.04) 1px,
            transparent 1px
        );

    background-size:
        100px 100px,
        100px 100px,
        20px 20px,
        20px 20px;

    background-position:
        -2px -2px,
        -2px -2px,
        -1px -1px,
        -1px -1px;
}

.container {
    max-width: 1000px;
    text-align: center;
}

.hero h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    margin-bottom: 20px;
}

.section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.section p {
    line-height: 1.8;
    color: #bdbdbd;
}

/* FOOTER */

.footer {
    background: #ffffff;
    color: #111;
    padding: 80px 40px;
}

.footer-container {
    max-width: 1400px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-column h3 {
    margin-bottom: 20px;
}

.footer-column p {
    color: #555;
    line-height: 1.7;
}

.footer-column a {
    display: block;
    color: #111;
    text-decoration: none;
    margin-bottom: 12px;
}

.footer-column a:hover {
    opacity: .7;
}

/* MOBILE */

@media (max-width: 768px) {

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section h2 {
        font-size: 2.2rem;
    }

}


/* SHOWCASE SERVICES */

.services-grid {
    max-width: 1400px;
    margin: 0 auto;

    padding: 100px 40px;

    display: grid;
    grid-template-columns: 1fr 1.4fr 1fr;

    gap: 40px;
    align-items: center;
}

.services-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info-card {
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

.info-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.info-card p {
    line-height: 1.7;
    color: #666;
}

/* SHOWCASE */

.hero-showcase {
    position: relative;
}

.showcase-tag {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    
}

.showcase-gallery {
    position: relative;
    height: 600px;
    overflow: hidden;
    border-radius: 24px;
}

.showcase-image_service {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: 0;
    transition: opacity 1s ease;
}

.showcase-image_service.active {
    opacity: 1;
}

@media (max-width: 768px) {

    .services-grid {

        grid-template-columns: 1fr;

        grid-template-areas:
            "showcase"
            "left"
            "right";

        gap: 50px;

        padding: 80px 20px;
    }

    .hero-showcase {
        grid-area: showcase;
    }

    .services-column:first-child {
        grid-area: left;
    }

    .services-column:last-child {
        grid-area: right;
    }

    .showcase-gallery {
        height: 350px;
    }

}

/* SHOWCASE WORK */
.services-grid {
  display: grid;

  grid-template-columns:
      repeat(auto-fit, minmax(250px, 1fr));

  gap: 2rem;

  max-width: 1200px;
  margin: 0 auto;
}



.info-card {
  padding: 1.5rem;
}

.info-card h3 {
  margin-bottom: .75rem;
}



.info-card p {
  line-height: 1.6;
  color: #666;
}

/* SHOWCASE SECTION */
.showcase-section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;

  align-items: center;
}

/* LEFT */

.showcase-label {
  letter-spacing: 2px;
  color: white;
  font-size: .9rem;
}

.showcase-content h2 {
  font-size: 3.5rem;
  margin: 15px 0 25px;
  line-height: 1.1;
}

.showcase-content p {
  line-height: 1.8;
  color: white;
  max-width: 550px;
}

/* RIGHT */

.showcase-gallery {
  position: relative;
  width: 100%;
  height: 600px;

  overflow: hidden;
  border-radius: 24px;
}

.showcase-image {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  opacity: 0;
  transition: opacity 1s ease;
}

.showcase-image.active {
  opacity: 1;
}

/* MOBILE */

@media (max-width: 768px) {

  .showcase-section {
      grid-template-columns: 1fr;
      gap: 40px;
      padding: 80px 20px;
  }

  .showcase-content {
      text-align: center;
  }

  .showcase-content h2 {
      font-size: 2.3rem;
  }

  .showcase-content p {
      margin: auto;
  }

  .showcase-gallery {
      height: 350px;
  }
}


/* CONTACT SECTION */
.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;

  padding: 100px 60px;
 
  color: white;
}

/* LEFT SIDE */
.contact-label {
  color: white;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 0.9rem;
   
}

.contact-info h2 {
  font-size: 3.5rem;
  line-height: 1.1;
  margin-bottom: 25px;
  
}

.contact-description {
  color: white;
  line-height: 1.8;
  margin-bottom: 50px;
  max-width: 500px;
}

/* CONTACT ITEMS */
.contact-item {
  margin-bottom: 30px;
}

.contact-item span {
  display: block;
  color: white;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.contact-item a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s ease;
}

.contact-item a:hover {
  opacity: 0.7;
}

/* FAQ SECTION */
.faq-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* FAQ ITEM */
.faq-item {
  border-bottom: 1px solid rgba(231, 226, 226, 0.856);
  padding-bottom: 20px;
}

/* QUESTION */
.faq-question {
  width: 100%;
  background: none;
  border: none;

  color: white;
  font-size: 1.1rem;
  font-weight: 600;

  text-align: left;
  cursor: pointer;

  padding: 15px 0;
}

/* ANSWER */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.faq-answer p {
  color: white;
  line-height: 1.7;
  padding-bottom: 10px;
}

/* ACTIVE FAQ */
.faq-item.active .faq-answer {
  max-height: 300px;
}

/* MOBILE */
@media (max-width: 900px) {

  .contact-section {
    grid-template-columns: 1fr;
    padding: 70px 25px;
    gap: 50px;
  }

  .contact-info h2 {
    font-size: 2.5rem;
  }

}

